spring:
  application:
    name: user-service
  datasource:
    host: localhost
    port: 5432
    dbname: user_db
    url: jdbc:postgresql://${spring.datasource.host}:${spring.datasource.port}/${spring.datasource.dbname}
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
server:
  port: 8081

eureka:
  instance:
    client:
      serviceUrl:
        defaultZone: http:///localhost:8761/eureka/


management:
  endpoints:
    web:
      exposure:
        include: "*"
